<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head'); %>
   <title>Página de Currículos</title>

   <style>
    .nav-link {
      color: white;
    }

    .section-content {
      margin: 0 145px;
      padding: 20px;
    }

    .curso {
      text-decoration: none;
      color: black;
    }
   </style>
</head>

<body class="container">
    <header>
        <%- include('partials/headerAluno'); %>
    </header>
    <section class="section-content">

      <% curriculos.forEach(curso => { %>
        <h3>
            <a class="curso" data-bs-toggle="collapse" href="#collapse<%= curso.nome %>" role="button" aria-expanded="false" aria-controls="collapse<%= curso.nome %>">
                <%= curso.nome %>
            </a>
        </h3>
        <div class="collapse" id="collapse<%= curso.nome %>">
            <div class="card card-body">
                <% curso.periodos.forEach(periodo => { %>
                    <h4>Período <%= periodo.numero %></h4>
                    <ul>
                        <% periodo.disciplinas.forEach(disciplina => { %>
                            <li>
                                <%= disciplina.nome %> - <%= disciplina.professor %>
                            </li>
                        <% }) %>
                    </ul>
                <% }) %>
            </div>
        </div>
      <% }) %>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</body>
</html>
