<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head'); -%>
    <title>Currículo do Curso <%= nome %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            color: #333;
        }
      
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #007bff;
            font-weight: bold;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: rgb(115, 115, 141);
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        .message {
            color: #ff0000;
            font-weight: bold;
            text-align: center;
        }
        .no-disciplina {
            text-align: center;
            font-style: italic;
        }
    </style>
</head>
<body>

  <header>
    <%- include('partials/headerSecretaria'); %>
  </header>

  <div class="container">
    <h1>Currículo do Curso: <%= nome %></h1>

    <div class="mb-3">
        <button onclick="redirectToCadastroDisc()" class="btn btn-primary">Cadastrar Nova
            Disciplina</button>
    </div>

    <% if (disciplinas && disciplinas.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Nome da Disciplina</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Número de Créditos</th>
                </tr>
            </thead>
            <tbody>
                <% disciplinas.forEach(disciplina => { %>
                    <tr>
                        <td><%= disciplina.periodo %></td>
                        <td><%= disciplina.nomeDisciplina %></td>
                        <td><%= disciplina.valor %></td>
                        <td><%= disciplina.status %></td>
                        <td><%= disciplina.numCredito %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p class="no-disciplina">Nenhuma disciplina encontrada para este curso.</p>
    <% } %>
  </div>


  <script>
     function redirectToCadastroDisc() {
            window.location.href = "/api/disciplinas/cadastrarDisciplinas";
            
        
        }

        
  </script>

</body>
</html>
